<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
   
   <!-- Custom CSS -->
   <link rel="stylesheet" th:href="@{/app.css}">


   <title th:text="${title} ?: 'Torneo'"></title>
</head>

<body style="background-color:rgb(60, 60, 60);">
   <div th:replace="~{fragments/header :: header}"></div>

   <div class="container my-4">
       <h2 class="text-center" th:text="${title}"></h2>
       <div class="row">
           <div class="col-md-4 col-lg-3 mb-2" th:each="juegos : ${juegos}">
               <div class="card">
                   <img src="https://placehold.co/600x400" class="card-img-top img-card">
                   <div class="card-body text-center">
                       <a th:href="@{/juegos/{id}(id=${juegos.id})}"  
                          class="btn bg-primary text-white"  
                          th:text="${juegos.name}">
                       </a>
                   </div>
               </div>
           </div>
       </div>
   </div>

   <div class="pie">
        <div th:replace="~{fragments/footer :: footer}"></div>
   </div>
</body>
</html>