.bg-secondary {
  background-color: #502c2c !important;
  
}
.copyright {
  background-color: #000000;
}
.bg-primary {
  background-color: rgb(133, 31, 0) !important;
  
}
.rubber_bg {
  background-image: url("/img/black-road-texture.jpg");
}
.running_bg {
  background-image: url("/img/run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  font-weight: 700;
}
.img-card{
  height: 18vw;
  object-fit: cover;
}
.error-message {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 5px;
}

