.bg-secondary {
  background-color: #502c2c !important;
  
}
.copyright {
  background-color: #000000;
}
.bg-primary {
  background-color: rgb(133, 31, 0) !important;
  
}
.rubber_bg {
  background-image: url("/img/black-road-texture.jpg");
}
.running_bg {
  background-image: url("/img/run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-primary {
    background-color: rgb(0, 0, 0); /* Change to your desired background color */
    border-color: rgb(0, 0, 0); /* Optional: Change border color to match */
    color: rgb(255, 255, 255); /* Optional: Change text color if needed */
 }

 .btn-primary:hover {
    background-color: red; /* Darker shade for hover */
     border-color: red;
  }

  .btn-primary:active {

     background-color: rgb(179, 0, 0) !important; /* Even darker shade for active */
     border-color: rgb(179, 0, 0) !important;
     color: red;
  }

  .btn-primary:focus {
     background-color: rgb(179, 0, 0); /* Even darker shade for active */
     border-color: rgb(179, 0, 0);
     color: red;
  }  

  .btn-transition  {
      background-color: rgb(179, 0, 0); /* Even darker shade for active */
     border-color: rgb(179, 0, 0);   
     box-shadow:rgb(133, 31, 0);
  }

  .table-bordered {
      background-color: rgb(255, 167, 167);  
  }

nav{
  font-weight: 700;
}
.img-card{
  height: 18vw;
  object-fit: cover;
}
.error-message {
    font-size: 12px;
    color: #e74c3c;
    margin-top: 5px;
}

